.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


.logo {
    color: #db0000;
    font-size: 39px;
    font-weight: 600;
}

.glass-icon {
    cursor: pointer;
}