.recommendMovies-block h3 {
    border-bottom: 1px solid gray;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px 0;
}

.recommendMovies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

